* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #eac926;
  margin: 1% 1%;
}

/* HEADER */

.botones {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1%;
  & img {
    width: 10vw;
  }
  & .searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    & input {
      border: 1px solid #ccc;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      padding: 8px;
      width: 500px;
      height: 30px;
      text-align: center;
    }
  }
  & .ofertas {
    display: flex;
    align-items: center;
    & p {
      margin-left: 5px;
    }
  }
}

.links {
  display: flex;
  justify-content: space-around;
}

.links a:visited {
  color: black;
}
.links-1,
.links-2 {
  display: flex;
  & li a {
    margin-right: 7px;
    color: black;
    text-decoration: none;
  }
}

/* FIN HEADER */

main {
  margin-top: 10px;
  & h2 {
    text-align: center;
    margin: 15px auto;
  }
}

.card {
  background-color: #ffffff;
  border-radius: 4px;
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: box-shadow 0.5s ease-in-out;
  & hr {
    width: 250px;
    background-color: gray;
    position: relative;
    top: 3px;
  }
  & i {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 110px;
    bottom: 18px;
    color: green;
    width: 35px;
    height: 35px;
    border: 2px green solid;
    border-radius: 50%;
    transition: transform 0.5s ease-in-out;
    &:hover {
      transform: rotate(-90deg);
    }
  }
  & .precio-descuento {
    display: flex;
    position: relative;
    bottom: 20px;
    & .precio {
      position: relative;
      left: -45px;
    }
    & .descuento {
      position: relative;
      right: -45px;
      color: green;
    }
  }
  &:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
  }
}

.burger-menu {
  text-align: center;
  display: none;
}

.burger-menu i {
  margin: 10px;
  padding: 10px;
  border: 2px solid #ffffff;
  border-radius: 5px;
  background-color: #0044aa;
  display: flex;
  justify-content: center;
  max-width: 50px;
  margin: 0 auto;
  color: white;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  li {
    text-align: center;
  }
  .precio {
    text-align: center;
    margin-top: 5px;
  }
  .copyright {
    margin-top: 20px;
  }
  i {
    margin-bottom: 10px;
    font-size: 2em;
    transition: color 0.5s ease;
  }
  i:hover {
    color: #1259c3;
  }
}

.descripcion {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.descripcion:hover {
  opacity: 1;
}

/* Para celular */
@media (max-width: 767px) {
  .descripcion,
  .links {
    display: none;
  }

  .burger-menu {
    display: initial;
  }

  .botones {
    flex-direction: column;
    align-items: center;
  }

  .logo img {
    width: 150px;
    margin-bottom: 10px;
  }

  .searchbar {
    width: 100%;
  }

  .ofertas {
    margin-top: 10px;
    font-size: smaller;
  }

  .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .products .card {
    width: calc(100% - 20px);
    margin: 0 10px 20px;
  }

  footer ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}

/* Para tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .products .card {
    width: calc(50% - 20px);
    margin: 0 10px 20px;
  }

  .ofertas i,
  .ofertas p {
    display: none;
  }
}

/* Para desktop */
@media (min-width: 1024px) {
  .descripcion {
    box-shadow: 0px 0px 4px rgb(100, 100, 100);
    border-radius: 5px;
    padding: 3px;
    opacity: 0;
  }

  .burger-menu {
    display: none;
  }

  .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .products .card {
    width: calc(25% - 20px);
    margin: 0 10px 20px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1% 1%;
  background-color: white;
  max-width: 400px;
  margin: 2% auto;
  & input {
    padding: 5px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
  }
  & label {
    padding-left: 3px;
  }
  & fieldset {
    border-radius: 7px;
    margin: 5px auto;
  }
  & .botones {
    text-align: center;
    & button {
      padding: 2% 2%;
    }
  }
  & .botones2 {
    text-align: center;
  }
  & .botones2 button {
    background-color: #ccc;
    color: black;
    font-size: small;
    padding: 2% 2%;
  }
  & button {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px;
  }
  & .botones2 button {
    transition: background-color 1s ease;
  }
  & .botones2 button:hover {
    background-color: #fbef82;
  }
}
